<div class="search_form">
  <div class="container">
    <div class="row">
      <%= form_with url: search_path, class: "col-8", local: true, method: :get do |f| %>
        <%= f.text_field :word, size: 40 %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
let map
let marker = []
let info = []
const farms = gon.farms


function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 34.666536, lng:133.9180779},
    zoom: 15,
  });

  for (let i = 0; i < farms.length; i++){
  marker[i] = new google.maps.Marker({
    position:  {lat: farms[i].latitude, lng: farms[i].longitude},
    map: map
  });
  }
}
   </script>
   <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 300px;
           width: 80%;}
   </style>
   <div id="map" class="mx-auto"></div>
