<%= content_for :search_url do %>
  search
<% end %>
<div class="container py-5">
  <h1 class="mx-5">野菜販売所一覧</h1>
  <%= render "farms/shared/search_form.html.erb" %>
  <%= render "farms/shared/index.html.erb", farms: @farms %>
</div>
