<%= content_for :search_url do %>
  search
<% end %>
<h1 class="mx-5">野菜販売所の検索結果</h1>
<div class="container">
  <%= render "farms/shared/search_form.html.erb" %>
  <%= render "farms/shared/index.html.erb" %>
</div>
